<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="css/address.css"/>
</html>
<style>
    body { background-color: #6DA8CD; }
</style>
<h3 style="text-align: center;"><span style="color: #3366ff;"><strong>List Of Hospital Address</strong></span></h3>
<form class="example" action="action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">

                    &nbsp;
                    <div class="title">
                        <h4>Highland Park General Hospital</h4>
                    </div>
                    <div class="text">Address: 357 Glendale Ave, Highland Park, MI 48203</div>
                    &nbsp;

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">

                    &nbsp;
                    <div class="title">
                        <h4>Henry Ford Hospital</h4>
                    </div>
                    <div class="text">Address: 2799 W Grand Blvd, Detroit, MI 48202</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">

                    &nbsp;
                    <div class="title">
                        <h4>Detroit Receivin</h4>
                    </div>
                    <div class="text">Address: 4201 St Antoine, Detroit, MI 48201</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">

                    &nbsp;
                    <div class="title">
                        <h4>DMC Harper Internal Medicine</h4>
                    </div>
                    <div class="text">Address: 4160 John R St #608, Detroit, MI 48201</div>
                    &nbsp;

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <div class="title">
                        <h4>Detroit Community Health Connection</h4>
                    </div>
                    <div class="text">Address: 6550 W Warren Ave, Detroit, MI 48210</div>
                </div>
            </div>
        </div>
    </div>
</div>
