

.Address {
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    background-color: #76bdec;

}

.Background {
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    background-color: #e8eff3;
}


.Address1 {
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;

}

.Address2 {
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
}

.Address3 {
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;

}

.Address4 {
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;


}

.Address5 {
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;


}


