
.ourmission {
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    background-color: #5ab7f5;


}

.tagline {
    text-align: center;
}

.aboutpage {
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
}

.leadership {
    text-align: center;
    color: red;
    font-family: "Lucida Console", Courier, monospace;

}

.leadership1 {
    text-align: center;
    background-color: #C6D1D5;

}

.leadership2 {
    text-align: center;
    background-color: #DDF6FF;

}

.leadership3 {
    text-align: center;
    background-color: #C6D1D5;

}

.leadership4 {
    text-align: center;
    background-color: #DDF6FF;

}

.leadership5 {
    text-align: center;
    background-color: #C6D1D5;

}

.leadership6 {
    text-align: center;
    background-color: #DDF6FF;

}


.Contact {
    text-align: center;
    background-color: #D7DAD8;
}
